body{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #504F7E;
    text-decoration: none;
}
.ref{
    padding-left:20px;
    margin-left: 10px;
}
.dropdown__ref{
    display: flex;
    flex-direction: row;
    height: 108px;
    width: 1264px;
    padding: 5px 5px 10px 0;
}
a{
    text-decoration: none;
}
.ref:hover{
    background-color: #D2D6E3;
    width: 1245px;
    height: 103px;
    padding: 0 0 21px 20px;
}
.dropdown__ref__text_3{
    color: #E53151;
}
.dropdown__ref__img{
    padding-top: 18px;
    margin-right: 20px;
}
form {
    border: 1px solid #D2D6E3;
    padding: 0;
    width: 1264px;
    margin: 0 10px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 7px;
}
.search__input{
    border: none;
    margin: 0;
    outline: none;
    vertical-align: middle;
    background-color: #ffffff;
    color: #504F7E;
    font-size: 20px;
    padding: 0 0 0 20px;
    width: 997px;
}
.search__button {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffffff;
    background-color: #E53151;
    height: 70px;
    width: 243px;
    border-radius: 0 7px 7px 0;
}
.dropdown__ref__next_1{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 632px;
}
.dropdown__ref__next_2{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 382px;
}
.dropdown__ref__next_3{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 737px;
}
.dropdown__ref__next_4{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 860px;
}
.dropdown__ref__next_5{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 682px;
}
.dropdown__ref__next_6{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 645px;
}
.dropdown__ref__line{
    width: 1245px;
    background-color: #D2D6E3;
    height: 1px;
}